<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>博客</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>.breadcrumb > li + li:before {content: '';}</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="nav-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targer="#narbar" aria-expanded="false" aria-controls="narbar">
				</button>
				<a class="navbar-brand" href="{% url 'blog:mainpage' %}">梁的博客</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li><a>你好，{{ user.name }}</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">设置<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'blog:changepassword' %}">修改密码</a></li>
							</ul></li>
						<li><a href="{% url 'blog:logout' %}">注销</a></li>
					{% else %}
						<li><a href="{% url 'blog:login' %}">登录</a></li>
						<li><a href="{% url 'blog:register' %}">注册</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<p style="font-family:'微软雅黑'，'黑体'; font-size:24px;"><a href="{% url 'blog:mainpage'%}">{{ user.name }}的博客</a></p>
		<ol class="breadcrumb">
			<li><a href="{% url 'blog:mainpage' %}">首页</a></li>
			<li><a href="{% url 'blog:index' %}">博文目录</a></li>
			<li><a href="{% url 'blog:picture' %}">图片</a></li>
			<li><a href="{% url 'blog:aboutme' %}">关于我</a></li>
			<li class="pull-right"><a href="{% url 'blog:writeblog' %}">发博文</a></li>
		</ol>
	</div>
</body>