{% extends 'blog/base.html' %}

{% block header %}
	<h2 class="text-primary">目录</h2>
{% endblock header %}

{% block content %}
	<ul class="list-group">
		{% for blog in blogs %}
			<li class="list-group-item">
				<strong>标题：</strong><a href="{% url 'blog:blog' blog.id %}">{{ blog.title }}</a>&nbsp;&nbsp;&nbsp;<strong>发布人：</strong>{{ blog.owner }}<a href="{% url 'blog:delblog' blog.id %}" class="pull-right">删除</a>
			</li>
		{% empty %}
			<p>暂时还没有内容</p>
		{% endfor %}
	</ul>

{% endblock content %}