{% extends 'blog/base.html' %}

{% block header %}
	<h2 class="text-primary">修改密码</h2>
{% endblock header %}

{% block content %}

    <form class="uk-form uk-form-horizontal uk-margin-top" action="{% url 'users:changepassword' %}" method="post">
        {% csrf_token %}

        <div class="uk-form-row">
        	<div class="uk-form-label">
        		{{ form.oldpassword.label_tag }}
        		{% for error in form.oldpassword.errors %}
            		<span class="uk-badge uk-badge-danger">{{ error }}</span>
        		{% endfor %}
        		{% if oldpassword_is_wrong %}
            		<span class="uk-badge uk-badge-danger">原密码不正确</span>
        		{% endif %}
        	</div>
        	<div class="uk-form-control">
            	{{ form.oldpassword }}
        	</div>
    	</div>
        <div class="uk-form-row">
        	<div class="uk-form-label">
            	{{ form.newpassword1.label_tag }}
            	{% for error in form.newpassword1.errors %}
                	<span class="uk-badge uk-badge-danger">{{ error }}</span>
            	{% endfor %}
        	</div>
        	<div class="uk-form-control">
                {{ form.newpassword1 }}
            </div>
        </div>
        <div class="uk-form-row">
            <div class="uk-form-label">
                {{ form.newpassword2.label_tag }}
                {% for error in form.newpassword2.errors %}
                    <span class="uk-badge uk-badge-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="uk-form-control">
                {{ form.newpassword2 }}
            </div>
        </div>
        <div class="uk-form-row">
            <input type="submit" value="确认修改" class="uk-button uk-button-primary">
        </div>
    </form>

{% endblock content %}